{
    "name": "{{ name }}",
    "displayName": "{{ display_name }}",
    "description": "{{ description }}",
    "version": "{{ version }}",
    "publisher": "{{ publisher }}",
    "author": {
      "name": "{{ author.name }}",
      "email": "{{ author.email }}"{% if author.url %},
      "url": "{{ author.url }}"{% endif %}
    },
    {% if icon %}"icon": "{{ icon }}",{% endif %}
    "engines": {
      "vscode": "{{ engines_version }}"
    },
    "categories": ["Themes"],
    "keywords": {{ keywords | jsonify }},
    {% if repository %}"repository": {
      "type": "git",
      "url": "{{ repository }}"
    },{% endif %}
    "contributes": {
      "themes": [
        {
          "label": "{{ display_name }}",
          "uiTheme": "vs-dark",
          "path": "./themes/{{ theme_file }}"
        }
      ]
    },
    "scripts": {
      "test": "echo \"No tests specified\""
    }
  }